- content_for :css do
  = stylesheet_link_tag 'jQuery-Tags-Input/jquery.tagsinput.css'
- content_for :javascript do
  = javascript_include_tag 'jQuery-Tags-Input/jquery.tagsinput.js'
  :javascript
    $(document).ready(function() {
      $('#servicio_equipos').tagsInput({
        'delimiter':'</li><li>'
      });
    });

%h1 Editing servicio

= render 'form'

= link_to 'Show', @servicio
\|
= link_to 'Back', servicios_path
