.container
  %h2.page-title= page_title! 'ALQUILER DE EQUIPOS'

  - if current_admin 
    .administrate.create
      = link_to 'Agregar Servicio', new_servicio_path, class: 'button button-create'

  .content
    %ul.content-inner.servicios-list
      - @servicios.each do |servicio|
        %li
          %h3
            = servicio.nombre
          = image_tag servicio.fotografia_url.to_s
          .servicio-descripcion
            %p 
              = servicio.descripcion
          %ul.equipos
            <li>
            =  raw(servicio.equipos)
            </li>
          - if current_admin
            .administrate.iterate
              = link_to 'Edit', edit_servicio_path(servicio), :class => 'button button-edit'
              = link_to 'delete', servicio, :method => :delete, :class => 'button button-delete', :confirm => 'Are you sure?'
        


