.container
  %h2.page-title= page_title! 'ALQUILER DE EQUIPOS'

  - if current_admin 
    .administrate.create
      = link_to 'Agregar Servicio', new_servicio_path, class: 'button button-create'

  .content
    %ul.content-inner.servicios-list
      - @servicios.each do |servicio|
        %li.servicios-item
          %h3
            = servicio.nombre
          .servicios-fields
            .servicios-fields-inner
              - if servicio.fotografia
                = image_tag servicio.fotografia_url(:preview).to_s
              
              %p 
                = servicio.descripcion
          %ul.equipos
            <li>
            =  raw(servicio.equipos)
            </li>
          - if current_admin
            .administrate.iterate
              = link_to 'Edit', edit_servicio_path(servicio), :class => 'button button-update'
              = link_to 'delete', servicio, :method => :delete, :class => 'button button-delete', :confirm => 'Are you sure?'
        


