- content_for :css do
  = stylesheet_link_tag 'jQuery-Tags-Input/jquery.tagsinput.css'
- content_for :javascript do
  = javascript_include_tag 'jQuery-Tags-Input/jquery.tagsinput.js'
  :javascript
    $(document).ready(function() {
      $('#servicio_equipos').tagsInput({
        'delimiter':'</li><li>',  
        width:'230px',
        height:'100px'
      });
    });


.container
  %h2.page-title= page_title! 'Agregar Servicio'

  .content
    .content-inner
      = render 'form'
      = link_to 'Back', servicios_path, class: 'button button-back'
