.container
  %h2.page-title= page_title! 'Música'
 
  - if current_admin 
    .administrate.create
      = link_to 'New Música', new_musica_path, class: 'button button-create'
 
  - @musicas.each do |musica|
    .content
      %ul.soundcloud-gallery
        %li
          = raw(musica.embed_code)
          - if current_admin
            .administrate.iterate
              = link_to 'Edit', edit_musica_path(musica), :class => 'btn btn-success'
              = link_to 'delete', musica, :method => :delete, :class => 'btn btn-warning', :confirm => 'Are you sure?'





