%h1 Listing musicas

%table
  %tr
    %th Embed code
    %th
    %th
    %th

  - @musicas.each do |musica|
    %tr
      %td= musica.embed_code
      %td= link_to 'Show', musica
      %td= link_to 'Edit', edit_musica_path(musica)
      %td= link_to 'Destroy', musica, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Musica', new_musica_path
