- page_title! 'Dj Alonso Valencia | Alquiler de equipos'
#preface-top
  .container
    #myCarousel.carousel.slide
      %ol.carousel-indicators
        %li{:"data-target" => "#myCarousel", :"data-slide-to" => "0", :class => "active"}
        %li{:"data-target" => "#myCarousel", :"data-slide-to" => "1"}

      <!-- Carousel items -->
      .carousel-inner
        .item.active
          = image_tag asset_path('img-slide-1.jpg')
        .item
          = image_tag asset_path('img-slide-2.jpg')

      <!-- Carousel nav -->
      = link_to raw('&lsaquo;'), '#myCarousel', :"data-slide" => 'prev', :class => 'carousel-control left'
      = link_to raw('&rsaquo;'), '#myCarousel', :"data-slide" => 'next', :class => 'carousel-control right'

.container
  %h2.page-title
    Dj Alonso Valencia
  .dj-presentation
    .content
      .dj-presentation-foto
        = image_tag asset_path('img-alonso.jpg')
        %p
          Con casi 20 años de experiencia, este Dj ha sabido poner a bailar a todos los públicos.
      .dj-presentation-likebox
        == <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fdjjalonsovalencia&amp;width=490&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=487746734678044" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:490px; height:558px;" allowTransparency="true"></iframe>

  %section.alquiler-equipos
    %h2.title
      Alquiler de equipos
    .content
      .alquiler-equipos-detalle
        %p
          Lo último en tecnología para matrimonios, fiestas y eventos privados o corporativos. Equipos modernos, luces, video, grupos electrogenos y un selecto staff de Dj's, Vj's, etc.
    .row
    #alquilerCarousel.carousel.slide
      %ol.carousel-indicators
        %li{:"data-target" => "#alquilerCarousel", :"data-slide-to" => "0", :class => "active"}

      <!-- Carousel items -->
      .carousel-inner
        .item.active
          %ul.thumbnails
            %li.span3
              = image_tag asset_path('img-servicios-carousel-1.jpg')
              %h3
                Eventos corporativos
            %li.span3.activado
              = image_tag asset_path('img-servicios-carousel-2.jpg')
              %h3
                Staff de Dj's para tus eventos
            %li.span3
              = image_tag asset_path('img-servicios-carousel-3.jpg')
              %h3
                Sonido y luces para matrimonios

      <!-- Carousel nav -->
      = link_to '<', '#alquilerCarousel', :"data-slide" => 'prev', :class => 'carousel-control left'
      = link_to '>', '#alquilerCarousel', :"data-slide" => 'next', :class => 'carousel-control right'


  -# %section.testimonios
      %h2.title
        Testimonios
      .content
        .testimonios-detalle
          %p
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        .testimonios-autor
          %h3
            Ricardo Castañeda
