= nested_form_for @evento do |f|
  - if @evento.errors.any?
    #error_explanation
      %h2= "#{pluralize(@evento.errors.count, "error")} prohibited this evento from being saved:"
      %ul
        - @evento.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :fecha
    = f.date_select :fecha

  .field
    = f.fields_for :fotos do |foto_form|
      %hr
      = foto_form.label :imagen, 'Agregar Imágenes'
      = foto_form.file_field :imagen
      = foto_form.link_to_remove "Eliminar esta foto", :class => 'button button-delete'
    = f.link_to_add "Agregar foto", :fotos, :class => 'button button-create'

  .actions
    = f.submit 'Save'
