= render 'scripts/megafolio'

.container
  %h2.page-title= page_title! 'Matrimonios y Eventos'

  - if current_admin 
    .administrate.create
      = link_to 'Crear Evento', new_evento_path, class: 'btn btn-primary'

  .content
    %ul.content-inner
      - @eventos.each do |evento|
        = evento.titulo
        = evento.fecha
        = link_to 'Show', evento
        = link_to 'Edit', edit_evento_path(evento)
        = link_to 'Destroy', evento, :method => :delete, :data => { :confirm => 'Are you sure?' }

