.container
  %h2.page-title= page_title! @evento.titulo

  //- if current_admin 
  .administrate.create
    = link_to 'Editar Evento', edit_evento_path(@evento), class: 'btn btn-primary'

  .content
    %ul.content-inner
      - @fotos.each do |foto|
        %li
          = image_tag foto.imagen_url(:eventos_index).to_s

          - if current_admin
            .administrate.iterate
              = link_to 'Edit', edit_evento_foto_path(@evento, foto), :class => 'btn btn-success'
              = link_to 'delete', evento_foto_path(@evento, foto), :method => :delete, :class => 'btn btn-warning', :confirm => 'Are you sure?'



     
             

 
