.container
  %h2.page-title= page_title! 'Dj Alonso Valencia'

  .content
    .content-inner
      %p
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.

      %p
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
        country, in which roasted parts of sentences fly into your mouth.

      %p
        Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however
        a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox
        advised her not to do so, because there were thousands of bad Commas.

    %figure
      = image_tag 'img-about-1.jpg'
      = image_tag 'img-about-2.jpg'
      = image_tag 'img-about-3.jpg'

    %aside
      %h3
        = image_tag 'logo-dragon.png', alt: 'DJ Residente El Dragón'
      %p
        Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at
        the coast of the Semantics, a large language ocean.ar far away, behind the word mountains, far from the countries Vokalia    and Co        nsonantia, there live the blind texts. Separated they live in Bookmarksgrove. right at
        the coast of the Semantics, a large language ocean.

    %figure
      = raw('<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F88269822"></iframe>')
