.container
  %h2.page-title= page_title! 'Dj Alonso Valencia'

  .content
    .content-inner
      %p
        Desde sus inicios en Cusco, ombligo del mundo, su forma de calentar el ambiente lo hizo Dj residente de Uptown, la discoteca más famosa de esta ciudad cosmopólita.
      %p
        Ahora, desde Lima, podemos encontrar a Dj Alonso en los points más importantes de la movida local, como en El Dragón de Barranco y El Dragón del Sur. Además, suele viajar a lugares paradisiácos para complacer a novios siendo el encargado de la fiesta.
      %p
        Con Dj Alonso tienes un fiestón asegurado.

    %figure.pictures
      = image_tag 'img-about-1.jpg'
      = image_tag 'img-about-2.jpg'
      = image_tag 'img-about-3.jpg'

    %aside
      %h3
        = image_tag 'logo-dragon.png', alt: 'DJ Residente El Dragón'
      %p
        Punto barranquino importante para visitar en las imparables noches limeñas.
        El dragón de Barranco, bar cultural, lleno de historia, magia y pura diversión a cargo de las música de Dj Alonso.

    %figure
      = render 'soundcloud_iframe'
