.container
  %h2.page-title= page_title! 'Galería'

  - if current_admin 
    .administrate.create
      = link_to 'New Música', new_musica_path, class: 'btn btn-primary'

  .content
    %ul.content-inner
      %li
        %h3 Test rwrwerw rwerwrwr wrtwrr wrwrwrwerw r
        = image_tag 'img-gallery.jpg'
      %li
        %h3 Test
        = image_tag 'img-gallery.jpg'
      %li
        %h3 Test
        = image_tag 'img-gallery.jpg'
      %li
        %h3 Test
        = image_tag 'img-gallery.jpg'
      - @albumes.each do |album|
        %li
          %h3= album.nombre
          = link_to image_tag('img-gallery.jpg'), album

          //- if current_admin
          .administrate.iterate
            = link_to 'Edit', edit_album_path(album), :class => 'btn btn-success'
            = link_to 'delete', album, :method => :delete, :class => 'btn btn-warning', :confirm => 'Are you sure?'

      

