.container
  %h2.page-title= page_title! 'Galería'

  - if current_admin 
    .administrate.create
      = link_to 'Crear Álbum', new_album_path, class: 'btn btn-primary'

  .content
    %ul.content-inner
      - @albumes.each do |album|
        %li
          %h3
            = album.nombre
          - unless album.fotos.empty?
            = link_to image_tag(album.fotos.first.imagen_url(:thumb).to_s), album

          //- if current_admin
          .administrate.iterate
            = link_to 'Edit', edit_album_path(album), :class => 'btn btn-success'
            = link_to 'delete', album, :method => :delete, :class => 'btn btn-warning', :confirm => 'Are you sure?'

      

