= render 'scripts/megafolio'
= render 'scripts/fancybox'

.container
  %header.content-header
    %h2.page-title= page_title! @album.nombre
    = link_to 'Volver', eventos_path, class: 'button button-back'


  - if current_admin 
    .administrate.create
      = link_to 'Crear Ãlbum', new_album_foto_path(@album), class: 'btn btn-primary'

  .content
    .content-inner
      .megafolio-container
        - @fotos.each_with_index do |foto, index|
          .div{:class => 'mega-entry cat-all cat-one', :id => 'mega-entry-' + index.to_s, :"data-src" => foto.imagen_url(:eventos_index).to_s, :"data-width" => '504', :"data-height" => '400'}
            = link_to '', foto.imagen_url(:lightbox).to_s, class: 'fancybox fake-click', rel: 'group'


      %noscript
        :css
          .megafolio-container {display: none}
        %ul.no-js-gallery.lightbox
          - @fotos.each_with_index do |foto, index|
            %li
              = link_to image_tag(foto.imagen_url(:lightbox).to_s), ''


     
             

 
