%ul
  %li.first
    = link_to 'Inicio', '#', class: 'active'
  %li
    = link_to 'DJ ALONSO', '#'
  %li
    = link_to 'ALQUILER DE EQUIPOS', '#'
  %li
    = link_to 'GALERÍA', '#'
  %li
    = link_to 'MATRIMONIOS Y EVENTOS', '#'
  %li
    = link_to 'MÚSICA', '#'
  %li.last
    = link_to 'CONTACTO', '#'

